export PATH={{ installdir }}/bin:$PATH

# Needed to build packages against this copy of mono (like F#)
#export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:{{ installdir }}/lib
#export PKG_CONFIG_PATH={{ installdir }}/lib/pkgconfig/